body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  flex-grow: 1;
}

.search-bar-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  background-color: lightgray;
  border-radius: 20px; /* Adjust the border-radius as needed */
}
